@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a tu aplicación de facturación!</h1>

    <center><img src="https://www.facturacion-e.net/wp-content/uploads/2018/04/Facturaci%C3%B3n-Electr%C3%B3nica-Icono-1024x1024.png" width="250" height="250"/></center><br>
    <p style="text-align: center">
        Ahora puedes iniciar a realizar todas las acciones que se encuentran disponibles. 
    </p>
</div>
