@model proyecto.Models.Cliente

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="Rnc" class="control-label"></label>
                <input asp-for="Rnc" class="form-control" />
                <span asp-validation-for="Rnc" class="text-danger"></span>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Lat" class="control-label"></label>
                    <input asp-for="Lat" class="form-control" />
                    <span asp-validation-for="Lat" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Long" class="control-label"></label>
                    <input asp-for="Long" class="form-control" />
                    <span asp-validation-for="Long" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Correo" class="control-label"></label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="FechaCumpleaños" class="control-label"></label>
                    <input asp-for="FechaCumpleaños" class="form-control" />
                    <span asp-validation-for="FechaCumpleaños" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Crear" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"> <i class="fa fa-table"> </i>Regresar al listado</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
